html {
	  background: url(images/back_3.png) no-repeat center center fixed; 
 	 -webkit-background-size: cover;
 	 -moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
}
body {
	margin: 0;
}
p {
	position: relative;
	text-align: center;
	font-size: 150px;
	font-family: "DK Magical Brush";
	margin: 0;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(232,234,236,0.5) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(232,234,236,0.5) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(232,234,236,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18314F', endColorstr='#13243E',GradientType=1 );

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@font-face {
	font-family: "DK Magical Brush";
	src: url("fonts/DK Magical Brush.otf");
}
@keyframes moveSquare {
    0% { top: 100px; }
    100% { top: 0px; }
}

@-webkit-keyframes moveSquare {
    0% { top: 100px; }
    100% { top: 0px; }
}
@keyframes moveNey {
    0% { top: 100px; }
    100% { top: 0px; }
}

@-webkit-keyframes moveNey {
    0% { top: 100px; }
    100% { top: 0px; }
}
@keyframes movePog {
    0% { top: 100px; }
    100% { top: 0px; }
}

@-webkit-keyframes movePog {
    0% { top: 100px; }
    100% { top: 0px; }
}

#stars {
	display: table;
	height: 100%;
	width: 100%;
}
.floating_stars{
	vertical-align: middle;
    display: table-cell;
	position: absolute;
	top: 0px;
	left: calc(50%-625px);
	left:-webkit-calc(50% - 625px);
	left:-moz-calc(50% - 625px);
}
#messi {

    animation: moveSquare 1s;
    -webkit-animation: moveSquare 1s; /* Safari and Chrome */
}
#ron {
    animation: moveSquare 2s;
    -webkit-animation: moveSquare 2s; /* Safari and Chrome */

}
#ney {
    animation: moveNey 1.5s;
    -webkit-animation: moveNey 1.5s; /* Safari and Chrome */

}
#pogba {
    animation: movePog 1.5s;
    -webkit-animation: movePog 1.5s; /* Safari and Chrome */

}

 
p {
    font-family: 'DK Magical Brush', cursive;
}

#logo {
	width: 20%;
	height: 20%;
	display: block;
	margin: 0 auto;
}
.title{
	margin-top: 250px;
	font-size: 150px;
}
#back_image{
}